* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  body {
    background-color: black;
    overflow-x: hidden;
  }
  body::-webkit-scrollbar {
    width: 6px;
    background-color: #dfd7c7;
  }
  body::-webkit-scrollbar-thumb {
    /* width: 10px; */
    background-color: gray;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    width: 100vw;
    padding: 2vh 2vw;
    background-color: #fcaf02;
  }
  .container > a {
    font-weight: 700;
    font-size: 1.2rem;
  }
  .container > a > span {
    margin: 0;
    padding: 0;
  }
  .nav-item > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  li {
    list-style-type: none;
  }
  .nav-item > ul > li {
    padding: 0 2vw;
  }
  .nav-item > ul > li > a {
    text-decoration: none;
    text-wrap: nowrap;
    font-weight: 400;
    font-size: 1rem;
  }
  
  .container > a,
  .nav-item > ul > li > a {
    text-decoration: none;
    color: black;
  }
  
  #landing-page {
    margin-top: 5vh;
    padding: 0 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    color: white;
    height: max-content;
  }
  #landing-page > div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 70%;
  }
  #landing-page > div > div {
    padding-top: 3.5vh;
  }
  .jeff-img {
    width: 30%;
    display: flex;
    align-items: center;
  }
  .jeff-img > img {
    width: 100%;
    height: auto;
    transform: rotateY(180deg);
    object-fit: cover;
    object-position: center;
  }
  #btn > button {
    background-color: #fcaf02;
    padding: 12px 50px;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 40px;
    border: none;
    outline: none;
  }
  #contact-us {
    width: 100vw;
    padding: 0 4vw;
  }
  #contact-us > h1 {
    font-weight: 700;
    margin: 3vh 0;
    padding: 10px;
    color: #fcaf02;
  }
  .contact-form {
    padding: 10px;
    width: 100%;
  }
  .contact-form > div > input {
    width: 100%;
    padding: 12px 40px;
    outline: none;
    border: 1px solid #fcaf02;
    border-radius: 40px;
    margin: 1vh 0;
    font-size: 1.2rem;
    color: #fcaf02;
    background-color: black;
  }
  .mob-city-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .mob-city-input > div {
    width: 49%;
  }
  .mob-city-input > div > input {
    width: 100%;
    padding: 12px 40px;
    outline: none;
    border: 1px solid #fcaf02;
    border-radius: 40px;
    margin: 1vh 0;
    font-size: 1.2rem;
    /* color: #fcaf02; */
    background-color: black;
    color: #fcaf02;
  }
  input::placeholder {
    color: #fcaf02;
  }
  .contact-form > .sub-btn > button {
    width: max-content;
    padding: 12px 40px;
    color: black;
    background-color: #fcaf02;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 40px;
    border: none;
    outline: none;
  }
  .sub-btn {
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 2vh 0;
  }
  input:target {
    outline: none;
  }
  #start-up-table {
    width: 100vw;
    padding: 2vh 4vw;
  }
  #table-dtls {
    width: 100%;
    border-collapse: collapse;
  }
  
  #table-dtls th,
  #table-dtls td {
    padding: 8px;
    font-size: 1.2rem;
    color: #fcaf02;
  }
  
  #table-dtls thead {
    background-color: #333;
  }
  
  #table-dtls th {
    color: white;
  }
  
  #table-dtls tbody td {
    font-size: 1.2rem;
    border: none;
  }
  
  #table-dtls tfoot {
    background-color: #fcaf02;
  }
  
  #table-dtls tfoot td {
    color: black; /* Set text color for footer */
  }
  